/* Attributions */

.attribution_card {
    margin: 1rem;
}

.attribution_description p{
    margin-top: 1rem;
}

.attribution_description h6 {
    color: grey;
    margin-top: -1rem;
}

.attribution_description h3 {
    margin-top: -1rem;
}

.attribution_link {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 247, 255, 0.521);
    color: black;
    padding: .25rem 1rem;
    text-decoration: none;
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
}

.attribution_link:hover {
    background-color: rgba(32, 101, 104, 0.952);
    color: white;
}