/* Testimonials */

.testimonial_container{
    margin-top: 2rem;
}

.testimonial_card{
    margin: 1rem 1rem;
}

.testimonial_image_container{
    text-align: center;
}

.testimonial_text_container{
    padding: 5px;
}

.testimonial_text_container h5{
    font-family: 'Pacifico', cursive;
    margin: 1rem 0;
}

.testimonial_text_container h6{
    margin: 1rem 0;
}

.testimonial_text_container blockquote{
    border-left: 3px solid rgb(0, 184, 190);
    padding: 5px;
}

.testimonial_stars{
    color: rgb(0, 184, 190);
}

.testimonial_stars_empty{
    color: rgb(163, 163, 163);
}